body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    color: white;
    line-height: 20px;

}

.font-white {
    color: white;
}

.top-banner {
    text-align: center;
    background-image: url(images/donation13.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-text {
    padding-top: 100px;
}

.banner-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.banner {
    padding-top: 20px;
}

.donate {
    text-align: center;
    padding-top: 50px;
}

.donate-amount {
    display: flex;
    justify-content: center;

}

.amount {
    padding: 20px 40px;
    border: 10px solid white;
    background-color: whitesmoke;
}