body {
    font-family: 'Poppins', sans-serif;
}

.header-text {
    font-size: 30px;
    color: white;
    line-height: 20px;

}

.font-white {
    color: white;
}

.top-banner {
    text-align: center;
    background-image: url(images/donation13.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-text {
    padding-top: 100px;
}

.banner-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.banner {
    padding-top: 30px;
}

h1 {
    font-size: 30px;
    line-height: 20px;
}

.donate {
    text-align: center;
    padding-top: 100px;
    line-height: 20px;
}

.donate-amount {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.amount {
    padding: 20px 40px;
    border: 10px solid white;
    background-color: whitesmoke;
}

.other-amount {
    padding-top: 30px;
    color: wheat;
}

.dashed {
    width: 60%;
}

.donate-plan {
    display: flex;
    padding: 50px;
    margin-left: 100px;
    text-align: justify;

}

.food-shelter-education {
    margin: 0px 50px 0px;

}

.contribute {
    display: flex;
    padding-top: 100px;
}

.contribute-text {
    text-align: justify;
    padding-left: 200px;
    padding-right: 80px;

}


.contribute-banner {
    padding-right: 100px;

}

.contribute-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.get-my-update {
    display: flexbox;
    padding-top: 100px;
}

.get-my-update-text {
    text-align: center;
}

.subscribe-form {
    display: flex;
    margin: 10px 400px 10px;
}

footer {
    margin-top: 100px;
    background-color: black;
    font-size: medium;
    color: brown;
    text-align: center;
    padding: 30px 0px;
    font-family: 'Lobster';


}